*{
    margin:0;
    padding:0;
}
img{
    display: block;
    border:none;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    width:90%;
    margin:0 auto;
}
html{
    font-size: 100px;
}
@font-face {
  font-family: 'iconfont';  /* project id 208138 */
  src: url('//at.alicdn.com/t/font_nf3sfyzjkplanhfr.eot');
  src: url('//at.alicdn.com/t/font_nf3sfyzjkplanhfr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_nf3sfyzjkplanhfr.woff') format('woff'),
  url('//at.alicdn.com/t/font_nf3sfyzjkplanhfr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_nf3sfyzjkplanhfr.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}


#header{
    height:0.6rem;
    background:#000;
    .top{
        height:0.6rem;
        font-size: 0.10rem;
        overflow: hidden;
        .lis1{
            height:0.6rem;
            display: flex;           
            a{
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                color:#fff;
                &:nth-child(1){
                    background:#999;
                }
            }
        }
        .lis2{
            height:0.6rem;
            display: flex;          
            a{
                color:#fff;
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

#accordion{
    position: fixed;
    top:2rem;
    .panel-default{
        width:1.9rem;
        font-size: 0.1rem;
        margin-bottom: 0rem;
        border-radius: 0;
        border: none;
        position: relative;
        a{
            font-size: 0.1rem;
            text-decoration: none;
        }
        .make{
            font-size: 0.08rem;
            position: absolute;
            left:0.12rem;
            top:0.24rem;
        }
        .panel-heading{
            padding:0.1rem 0.4rem;
            border-radius: 0;
            border:none;
            font-weight: 700;
        }
        .panel-body{
            padding:0.1rem 0;
            text-align: center;
            font-size: 0.06rem;
            position: relative;
            .do{
                font-size: 0.06rem;
                position: absolute;
                left:0.5rem;
                top:0.09rem;
            }
        }
    }
}



